.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg_Netflix {
  background-color: #221f1f;
}

.col img {
  transition: transform 0.2s;
}

.col img:hover {
  transform: scale(1.1);
  z-index: 3;
}

.textFooter {
  font-size: 0.8em;
}

.footer-links p {
  margin-bottom: 0.3em;
  color: #838383;
}
.footer-button {
  color: #838383;
  border-color: #838383;
}

.movie-details-container {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
}

.img-fluid {
  max-height: 400px;
}

.text-white {
  color: white;
}
